body {
  width: 1280px;
  margin: 0;
  font-family: arial;
}
.container {
}
.main-header {
  background-color: #445162;
  width: 100%;
  padding: 50px;
  color: #ffffff;
  box-sizing: border-box;
}
.main-header::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-header-wrp {
  width: 500px;
  float: left;
}
.main-header-title {
  margin: 0 0 50px 0;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
}
.main-header-list {
  margin: 0 0 0 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  list-style-type: none;
}
.main-header-list-item {
  position: relative;
}
.main-header-list-item:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  /* border: 1px solid red; */
  position: absolute;
  top: 7px;
  left: -35px;
  background-image: url(img/check.png);
  background-size: cover;
}
.main-header-img {
  background-color: #fff;
  display: block;
  width: 469px;
  height: 214px;
  float: right;
}
.content {
  width: 100%;
}
.about-product {
  background-color: #fff;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.about-product-wrp {
  width: 651px;
}
.about-product-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  margin: 0 0 30px 0;
}
.about-product-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin: 0 0 20px 0;
}
.about-product-video {
  display: block;
  width: 430px;
  height: 245px;
  background-color: #445161;
}
.dignity {
}
